SCREEPS_SHARD=shard3
SCREEPS_TOKEN=your-memory-access-token
SCREEPS_POLL_FREQUENCY_SECONDS=30
ELASTICSEARCH_INDEX=screeps
ELASTICSEARCH_IS_NEW_INDEX=no or yes, yes will overwrite
ELASTICSEARCH_NODE_ADDR=http://192.168.0.101:9200 or localhost